<form [formGroup]="registrationForm" class="reg-form" (submit)="submit()">
  <legend class="reg-form-legend">
    Welcome{{ isSigningUp ? "" : " Back" }} !
  </legend>

  <div *ngIf="isSigningUp" class="reg-form-box">
    <label class="reg-form-box-label">Name</label>
    <input
      required
      type="text"
      formControlName="formName"
      class="reg-form-box-input"
      [ngClass]="{
        'invalid-input':
          registrationForm.controls['formName'].invalid &&
          registrationForm.controls['formName'].touched
      }"
    />
    @if(registrationForm.controls['formName'].invalid &&
    registrationForm.controls['formName'].touched){
    <p class="reg-form-box-error">Invalid Name</p>
    }
  </div>

  <div *ngIf="isSigningUp" class="reg-form-box">
    <label class="reg-form-box-label">Surname</label>
    <input
      required
      type="text"
      formControlName="formSurname"
      class="reg-form-box-input"
      [ngClass]="{
        'invalid-input':
          registrationForm.controls['formSurname'].invalid &&
          registrationForm.controls['formSurname'].touched
      }"
    />
    @if(registrationForm.controls['formSurname'].invalid &&
    registrationForm.controls['formSurname'].touched){
    <p class="reg-form-box-error">Invalid Surname</p>
    }
  </div>

  <div *ngIf="isSigningUp" class="reg-form-box">
    <label class="reg-form-box-label">Gender</label>
    <div
      class="reg-form-box-radio"
      [ngClass]="{
        'invalid-input':
          registrationForm.controls['formGender'].invalid &&
          registrationForm.controls['formGender'].touched
      }"
    >
      <label class="reg-form-box-radio-box">
        <input
          required=""
          type="radio"
          formControlName="formGender"
          class="reg-form-box-radio-box-input"
          value="male"
        />
        Male
      </label>
      <label class="reg-form-box-radio-box">
        <input
          required=""
          type="radio"
          formControlName="formGender"
          class="reg-form-box-radio-box-input"
          value="female"
        />
        Female
      </label>
    </div>
    @if(registrationForm.controls['formGender'].invalid &&
    registrationForm.controls['formGender'].touched){
    <p class="reg-form-box-error">Invalid Gender</p>
    }
  </div>

  <div class="reg-form-box">
    <label class="reg-form-box-label">Username</label>
    <input
      required
      type="text"
      formControlName="formUsername"
      class="reg-form-box-input"
      [ngClass]="{
        'invalid-input':
          registrationForm.controls['formUsername'].invalid &&
          registrationForm.controls['formUsername'].touched
      }"
    />
    @if(registrationForm.controls['formUsername'].invalid &&
    registrationForm.controls['formUsername'].touched){
    <p class="reg-form-box-error">Invalid Username</p>
    }
  </div>

  <div class="reg-form-box">
    <label class="reg-form-box-label">Password</label>
    <input
      required
      type="password"
      formControlName="formPassword"
      class="reg-form-box-input"
      [ngClass]="{
        'invalid-input':
          registrationForm.controls['formPassword'].invalid &&
          registrationForm.controls['formPassword'].touched
      }"
      maxlength="16"
    />
    @if(registrationForm.controls['formPassword'].invalid &&
    registrationForm.controls['formPassword'].touched){
    <p class="reg-form-box-error">Invalid Password</p>
    }
  </div>

  @if(submitionErrorOccures &&
  (registrationForm.controls['formUsername'].touched ||
  registrationForm.controls['formPassword'].touched)) {
  <p class="reg-form-error">
    {{ isSigningUp ? "User already exists" : "User not found" }}
  </p>
  }

  <button class="reg-form-btn">{{ isSigningUp ? "Sing up" : "Log in" }}</button>
  <button type="button" (click)="changeMode()" class="reg-form-mode">
    {{
      isSigningUp
        ? "Already have account? Log in!"
        : "Don't have account? Create one!"
    }}
  </button>
</form>
