<div class="container">
  <div class="container-chat">
    <div class="group">
      <p class="group-name">{{ appService.currentChat.name }}</p>
      <img
        (click)="showChatInfoPanel()"
        class="group-peopleIcon"
        src="assets/svg/people.svg"
        alt=""
      />
    </div>
    <div #messageContainer class="messages">
      @for (msg of appService.currentChat.messages; track $index) {
      <div
        class="messages-box"
        [ngClass]="{
          'messages-box-sender': msg?.senderId === appService.user.id
        }"
      >
        <p
          *ngIf="msg?.senderId !== appService.user.id"
          class="messages-box-senderUser"
        >
          {{ msg?.sender?.["username"] }}
        </p>
        <p class="messages-box-body">{{ msg?.body }}</p>
      </div>
      }
    </div>
    <div class="controls">
      <input
        [(ngModel)]="body"
        class="controls-input"
        type="text"
        maxlength="256"
        (keyup.enter)="write()"
      />
      <button (click)="write()" class="controls-btn"><</button>
    </div>
  </div>
  <chat-info-comp *ngIf="appService.isChatInfoPanelShown"></chat-info-comp>
</div>
