.container {
  height: 100%;
  display: grid;
  grid-template-rows: 50px auto 50px;

  &-group {
    border-bottom: 2px solid gray;
  }

  &-messages {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2px;
    overflow-y: auto;
    background: white;
    height: 100%;

    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    &-box {
      width: fit-content;
      max-width: 45%;
      padding: 7.5px;
      border-radius: 0 10px 10px 0;
      align-self: flex-start;
      overflow-wrap: break-word;
      background-color: rgb(204, 204, 204);

      &-sender {
        border-radius: 10px 0 0 10px;
        align-self: flex-end;
        text-align: right;
        background-color: rgb(87, 87, 245);
        color: white;
      }

      &-senderUser {
        font-size: 12px;
      }
    }
  }

  &-controls {
    display: flex;
    height: var(--controls-height);
    gap: 5px;
    justify-content: space-between;
    padding: 7.5px;

    &-input {
      flex: 1;
      padding: 5px 10px;
      border-radius: 20px;
    }

    &-btn {
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background-color: rgb(87, 87, 245);
      border: none;
      color: white;
      font-weight: bold;
      font-size: 1rem;
    }
  }
}
