<dialog #photoChangeDialog class="dialog">
  <div *ngIf="isOpen" class="panel">
    <div class="panel-selectedPhoto">
      <img
        class="panel-selectedPhoto-img"
        src="{{
          selectedPhotoUrl
            ? selectedPhotoUrl
            : 'assets/img/no-profile-picture-icon-male.jpg'
        }}"
      />
    </div>
    <input
      #fileInput
      class="panel-input"
      type="file"
      formControlname="photoInput"
      (change)="showSelectedPhoto()"
    />
    <div class="panel-field">
      <label class="panel-field-label">Name</label>
      <input
        type="text"
        class="panel-field-input"
        formControlname="nameInput"
      />
      <button class="panel-field-btn">
        <img class="panel-field-btn-img" src="assets/svg/pen-write.svg" />
      </button>
    </div>
    <div class="panel-field">
      <label class="panel-field-label">Username</label>
      <input
        class="panel-field-input"
        formControlname="usernameInput"
        type="text"
      />
      <button class="panel-field-btn">
        <img class="panel-field-btn-img" src="assets/svg/pen-write.svg" />
      </button>
    </div>
    <div class="panel-controls">
      <button
        class="panel-controls-btn save"
        [disabled]="photoInput.dirty || nameInput.dirty || usernameInput.dirty"
        (click)="updateUserData()"
      >
        Save
      </button>
      <button
        class="panel-controls-btn cancel"
        (click)="closePhotoChangeDialog()"
      >
        Cancel
      </button>
    </div>
  </div>
</dialog>
