<aside class="sidebar">
  <div class="profile">
    <button (click)="openPhotoChangeDialog()" class="profile-photo">
      <img
        class="profile-photo-img"
        src="assets/img/no-profile-picture-icon-male.jpg"
      />
    </button>
    <p class="profile-username">{{ appService.user.username }}</p>
    <img
      (click)="colorModeChange()"
      class="profile-pen"
      src="{{ colorService.icon }}"
    />
  </div>
  <div class="chats">
    <div class="chats-create">
      <button (click)="updateChats()" class="chats-create-refresh">
        <img class="chats-create-refresh-icon" src="assets/svg/refresh.svg" />
      </button>
      <input [(ngModel)]="newChatName" class="chats-create-input" type="text" />
      <button (click)="createChat()" class="chats-create-btn">Create</button>
    </div>
    <div class="chats-container">
      @for (chat of appService.user.chats; track $index) {
      <button (click)="moveToChat(chat)" class="chats-container-btn">
        {{ chat.name }}
      </button>
      <button (click)="deleteChat(chat.id)" class="chats-container-bin">
        <img class="chats-container-bin-img" src="assets/svg/bin.svg" />
      </button>
      }
    </div>
  </div>
  <div class="footer">
    <button (click)="logOut()" class="footer-btn">Log out</button>
  </div>
</aside>
<photo-change-dialog #photoChangeDialog></photo-change-dialog>
