<aside class="sidebar">
  <div class="profile">
    <div class="profile-photo">
      <img
        class="profile-photo-img"
        src="assets/img/no-profile-picture-icon-male.jpg"
      />
    </div>
    <p class="profile-userName">{{ appService.user.userName }}</p>
    <img class="profile-pen" src="assets/svg/pen-write.svg" />
  </div>
  <div class="chats">
    <div class="chats-create">
      <input [(ngModel)]="newChatName" class="chats-create-input" type="text" />
      <button (click)="createChat()" class="chats-create-btn">Create</button>
    </div>
    <div class="chats-container">
      @for (chat of appService.user.chats; track $index) {
      <button (click)="moveToChat(chat)" class="chats-container-btn">
        {{ chat.name }}
      </button>
      }
    </div>
  </div>
</aside>
