.sidebar {
  width: var(--sidebar-width);
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
}

.profile {
  width: 100%;
  display: grid;
  gap: 15px;
  align-items: center;
  grid-template-columns: 50px auto 25px;
  padding: 15px;

  &-photo {
    width: 55px;
    height: 55px;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    border: none;

    &:hover {
      position: relative;

      &::after {
        content: 'Change';
        z-index: 2;
        position: absolute;
        background-color: rgba($color: #000, $alpha: 0.2);
        color: white;
        width: 55px;
        height: 55px;
        top: 0;
        left: 0;
        border-radius: 50%;
        display: grid;
        place-items: center;
        text-align: center;
      }
    }

    &-img {
      width: 100%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background-color: white;
    }
  }

  &-userName {
    position: relative;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.25rem;
    color: white;
  }

  &-pen {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}

.chats {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;

  &-create {
    display: flex;
    align-items: center;
    gap: 5px;

    &-refresh {
      width: 22px;
      height: 22px;
      cursor: pointer;
      background-color: transparent;
      border: none;

      &-icon {
        width: 100%;
        height: 100%;
      }
    }

    &-input {
      flex: 1;
      padding: 5px;
      border-radius: 7px;
      border: none;

      &:focus {
        outline: 2px solid var(--secondary-color);
      }
    }

    &-btn {
      border: none;
      background-color: var(--secondary-color);
      height: 100%;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  &-container {
    display: grid;
    grid-template-columns: auto 25px;
    align-items: center;
    gap: 5px;

    &-btn {
      width: 100%;
      height: 35px;
      position: relative;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-align: left;
      padding: 5px;
      cursor: pointer;
      background-color: var(--hover-color);
      border: none;
      color: white;
      border-radius: 7px;
      font-size: 16px;

      &:hover {
        background-color: var(--secondary-color);
        color: black;
      }
    }

    &-bin {
      width: 25px;
      height: 25px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &-img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.footer {
  padding: 5px;
  height: 50px;

  &-btn {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;

    &:hover {
      background-color: var(--hover-color);
    }
  }
}
