<dialog #dialog>
  <form class="panel" [formGroup]="dialogForm" (ngSubmit)="updateUserData()">
    <div class="panel-selectedPhoto">
      <img
        class="panel-selectedPhoto-img"
        src="{{
          selectedPhotoUrl
            ? selectedPhotoUrl
            : 'assets/img/no-profile-picture-icon-male.jpg'
        }}"
      />
    </div>
    <input
      #fileInput
      class="panel-input"
      type="file"
      (change)="showSelectedPhoto()"
    />
    <div class="panel-field">
      <label class="panel-field-label">Name</label>
      <input
        required
        [readOnly]="isFormNameInputReadonly"
        formControlName="formName"
        type="text"
        class="panel-field-input"
      />
      <button
        type="button"
        class="panel-field-btn"
        (click)="changeCurrentState('formName')"
      >
        <img class="panel-field-btn-img" src="assets/svg/pen-write.svg" />
      </button>
    </div>
    <div class="panel-field">
      <label class="panel-field-label">Username</label>
      <input
        required
        [readOnly]="isFormUsernameInputReadonly"
        formControlName="formUsername"
        class="panel-field-input"
        type="text"
      />
      <button
        type="button"
        class="panel-field-btn"
        (click)="changeCurrentState('formUsename')"
      >
        <img class="panel-field-btn-img" src="assets/svg/pen-write.svg" />
      </button>
    </div>
    <div class="panel-controls">
      <button
        type="submit"
        class="panel-controls-btn save"
      >
        Save
      </button>
      <button type="button" class="panel-controls-btn cancel" (click)="close()">
        Cancel
      </button>
    </div>
  </form>
</dialog>
