:root {
  --controls-height: 50px;
  --sidebar-width: 350px;

  --primary-color: #988dfb;
  --secondary-color: #d3d0ee;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
