<div class="wrapper">
  <div class="container">
    <div #messageContainer class="container-messages">
      @for (msg of messages; track $index) {
      <div
        class="container-messages-box"
        [ngClass]="{
          'container-messages-box-sender': msg?.senderId === user?.id
        }"
      >
        <p class="container-messages-box-senderUser">
          {{ msg?.sender?.["userName"] }}
        </p>
        <p class="container-messages-box-body">{{ msg?.body }}</p>
      </div>
      }
    </div>
    <div class="container-controls">
      <input
        [(ngModel)]="body"
        class="container-controls-input"
        type="text"
        maxlength="256"
      />
      <button (click)="write()" class="container-controls-btn"><</button>
    </div>
  </div>
</div>
